{% if wiki_docker_backup_dir is defined %}

# *****************************************************************************
# Clean up wiki
docker run --rm -v {{ docker_backup_dir }}:/tmp/import_export:z {{ repository_images.debian.image }}:{{ repository_images.debian.tag }} bash -c "rm -rf /tmp/import_export/WIKI"
{% endif %}
