---

# The hostname passed as an envirnment variable into the container
container_addr_map:
  wiki:
    ip_addr: '127.0.0.1'
    hostname: wiki.example.com

# the port mappings used when starting the container
container_port_map:
  wiki:
    port_args: '-P'

# database usernames and passwords
wiki_db_user: novatech

# must pass in the following variables
# wiki_db_root_password: ''
# wiki_db_password: ''

# the name of the image being duilt and used for the container
wiki_image_repo: https://github.com/novatechweb/docker-mediawiki.git
wiki_image_name: '{{ docker_registry_username }}/wiki'
wiki_db_image_name: '{{ repository_images.mysql.image }}'

# the name of the container being started
wiki_container_name: '{{ docker_name_prefix }}wiki'

# the name of the container being started
wiki_db_container_name: '{{ docker_name_prefix }}wiki_db'

# the name of the data-volume used by the container
wiki_dv_name: '{{ docker_name_prefix }}wiki_DV'

# the name of the mysql data-volume used by the mediawiki container
wiki_db_dv_name: '{{ docker_name_prefix }}wiki_db_DV'

# restore directories to temporarly store data being restored into docker containers
wiki_docker_backup_dir: '{{ docker_backup_dir }}/WIKI'
wiki_docker_restore_dir: '{{ bacula_dest }}{{ wiki_docker_backup_dir }}'

# files restored from tape
wiki_static_backup_file: '/mediawiki.tar'
wiki_database_backup_file: '/wikidb.sql'
