---
# defaults file for buildbot-worker-ptxdist

# host containing build assets
asset_host: 'http://localhost/'
asset_pypi: 'http://localhost/'
asset_user: 'buildbot'
asset_password: 'buildbot'

# address of buildbot master service
buildbot_hostname: 'buildbot'
buildbot_worker_port: '9989'

# numeric version of buildbot service
buildbot_worker_version: '2.4.0'

# port number for workers to communicate with master
buildbot_worker_connection_string: "\
  tls\
  :host={{ buildbot_hostname }}\
  :port={{ buildbot_worker_port }}\
  :certificate={{ worker_ssl_dir }}/{{ worker_tlspem }}\
  :privateKey={{ worker_ssl_dir }}/{{ worker_tlskey }}\
  :trustRoots={{ worker_ssl_dir }}"

# host path containing configuration files
buildbot_worker_hostdir_config: '/etc/{{ buildbot_worker_container }}'

# host directory for ssl certificates and keys
buildbot_worker_hostdir_ssl: '{{ buildbot_worker_hostdir_config }}/ssl'

# the name of the container being started
buildbot_worker_container: '{{ buildbot_worker_name }}'

# environment passed to the container
buildbot_worker_env:
  BUILDBOT_WORKER_PORT: '{{ buildbot_worker_connection_string }}'
  BUILDBOT_WORKER_NAME: '{{ buildbot_worker_name }}'
  BUILDBOT_WORKER_PASS: '{{ buildbot_worker_passwd }}'

# buildbot_worker_hostname
buildbot_worker_hostname: 'buildbot-worker-ntel'

# worker identifier
buildbot_worker_name: 'buildbot-worker-ntel'

# worker password
buildbot_worker_passwd:

# network configuration for the confainer
buildbot_worker_networks:
  - name: 'workers'
    aliases:
      - '{{ buildbot_worker_hostname }}'

# build arguments of the image
buildbot_worker_image_args:
  BUILDBOT_GID: '{{ buildbot_worker_gid }}'
  BUILDBOT_UID: '{{ buildbot_worker_uid }}'
  BUILDBOT_VERSION: '{{ buildbot_worker_version }}'

# directory of the image source
buildbot_worker_image_dir: '/tmp/{{ buildbot_worker_container }}'

# name of the Dockerfile to build the container's image
buildbot_worker_image_dockerfile: 'Dockerfile'

# name of the image being built
buildbot_worker_image_name: '{{ buildbot_worker_container }}:latest'

# repository URI of the image source
buildbot_worker_image_repo: '{{ role_path }}/container/'

# port configuration of the container
buildbot_worker_port_args: []

# policy for restarting container on failure
buildbot_worker_restart_policy: 'no'

# name of the cache volume
buildbot_worker_volume_cache: '{{ buildbot_worker_container }}-cache'

# name of the data volume
buildbot_worker_volume_data: '{{ buildbot_worker_container }}-data'

# volumes mounted within the container
buildbot_worker_volumes:
- '{{ buildbot_worker_volume_data }}:{{ buildbot_worker_data_path }}:z'
- '{{ buildbot_worker_volume_cache }}:{{ buildbot_worker_cache_path }}:z'
- '{{ buildbot_worker_hostdir_config }}/buildbot.tac:/home/buildbot/buildbot.tac'
- '{{ buildbot_worker_hostdir_config }}/{{ buildbot_worker_sshkey | basename }}:/home/buildbot/.ssh/id_rsa'
- '{{ buildbot_worker_hostdir_config }}/known_hosts:/home/buildbot/.ssh/known_hosts'
- '{{ buildbot_worker_hostdir_config }}/ptxdistrc:/home/buildbot/.ptxdist/ptxdistrc-2012.09'
- '{{ buildbot_worker_hostdir_config }}/pydistutils.cfg:/home/buildbot/.pydistutils.cfg'
- '{{ buildbot_worker_hostdir_config }}/netrc:/home/buildbot/.netrc'
- '{{ buildbot_worker_hostdir_ssl }}:{{ worker_ssl_dir }}'

# known ssh hosts
known_hosts: ''
