---

# The hostname passed as an envirnment variable into the container
container_addr_map:
  ldap:
    ip_addr: '127.0.0.1'
    hostname: ldap.example.com
  phpldapadmin:
    ip_addr: '127.0.0.1'
    hostname: ldap.example.com

# the port mappings used when starting the container
container_port_map:
  ldap:
    port_args: '-P'
  phpldapadmin:
    port_args: '-P'

openldap_backup_files:
  - ldif_file: LDAP_database_0000.ldif
    dbnum: 0
  - ldif_file: LDAP_database_0001.ldif
    dbnum: 1

# the name of the image being duilt and used for the container
openldap_image_repo: https://github.com/novatechweb/docker-openldap.git
openldap_image_name: '{{ docker_registry_username }}/ldap'

# the name of the container being started
openldap_container_name: '{{ docker_name_prefix }}ldap'

# the name of the data-volume used by the container
openldap_dv_name: '{{ docker_name_prefix }}ldap_DV'

# restore directories to temporarly store data being restored into docker containers
openldap_docker_backup_dir: '{{ docker_backup_dir }}/LDAP'
host_openldap_docker_restore_dir: '{{ bacula_dest }}{{ openldap_docker_backup_dir }}'



# *****************************************************************************
# Utility container - phpldapadmin

# the name of the image used for the container
phpldapadmin_image_name: '{{ repository_images.phpldapadmin.image }}'

# the name of the container being started
phpldapadmin_container_name: '{{ docker_name_prefix }}phpldapadmin'
