module baculavirt 1.0;

require {
        type virt_var_lib_t;
        type insmod_exec_t;
        type lvm_exec_t;
        type virtd_t;
        type svirt_image_t;
        type fixed_disk_device_t;
        type proc_net_t;
        type virt_var_run_t;
        type svirt_t;
        type bacula_t;
        type docker_exec_t;
        type docker_t;
        type docker_var_run_t;
        type sysctl_net_t;
        type ssh_exec_t;
        type svirt_sandbox_file_t;
        type user_tmp_t;
        type ssh_keygen_exec_t;
        type bacula_spool_t;
        type var_run_t;
        class lnk_file { create unlink };
        class process setsched;
        class unix_stream_socket connectto;
        class file { write execute read create unlink open getattr execute_no_trans setattr };
        class sock_file write;
        class blk_file { read write open };
        class dir { search read write remove_name create add_name rmdir setattr };
}

#============= bacula_t ==============
allow bacula_t bacula_spool_t:lnk_file { create unlink };
allow bacula_t docker_exec_t:file { execute execute_no_trans };
allow bacula_t docker_var_run_t:sock_file write;
allow bacula_t fixed_disk_device_t:blk_file { read open };
allow bacula_t insmod_exec_t:file { execute execute_no_trans };
allow bacula_t lvm_exec_t:file { execute execute_no_trans };
allow bacula_t proc_net_t:file { read getattr open };
allow bacula_t self:process setsched;
allow bacula_t ssh_exec_t:file { execute execute_no_trans };
allow bacula_t ssh_keygen_exec_t:file { execute execute_no_trans };
allow bacula_t svirt_image_t:blk_file { read open };
allow bacula_t svirt_sandbox_file_t:dir { write create rmdir remove_name add_name setattr };
allow bacula_t svirt_sandbox_file_t:file { write create setattr unlink };
allow bacula_t sysctl_net_t:dir search;
allow bacula_t sysctl_net_t:file { read open };
allow bacula_t user_tmp_t:dir setattr;
allow bacula_t virt_var_lib_t:dir { write remove_name create add_name rmdir };
allow bacula_t virt_var_lib_t:file { write create unlink };
allow bacula_t virt_var_run_t:sock_file write;

#!!!! This avc can be allowed using the boolean 'daemons_enable_cluster_mode'
allow bacula_t virtd_t:unix_stream_socket connectto;

#!!!! This avc can be allowed using the boolean 'daemons_enable_cluster_mode'
allow bacula_t docker_t:unix_stream_socket connectto;

#============= svirt_t ==============
allow svirt_t fixed_disk_device_t:blk_file { read write open };
