---

# The hostname passed as an envirnment variable into the container
container_addr_map:
  mantisbt:
    ip_addr: '127.0.0.1'
    hostname: mantis.example.com

# the port mappings used when starting the container
container_port_map:
  mantisbt:
    port_args: '-P'

# database usernames and passwords
mantisbt_db_user: novatech

# must pass in the following variables
# mantisbt_db_root_password: ''
# mantisbt_db_password: ''

# the name of the image being duilt and used for the container
mantisbt_image_repo: https://github.com/novatechweb/docker-mantisbt.git
mantisbt_image_name: '{{ docker_registry_username }}/mantisbt'

mantisbt_db_image_repo: https://github.com/novatechweb/docker-mysql-data.git
mantisbt_db_image_name: '{{ docker_registry_username }}/mysql.dv'

# the name of the container being started
mantisbt_container_name: '{{ docker_name_prefix }}mantisbt'

# the name of the container being started
mantisbt_db_container_name: '{{ docker_name_prefix }}mantisbt_db'

# the name of the data-volume used by the container
mantisbt_dv_name: '{{ docker_name_prefix }}mantisbt_DV'

# the name of the mysql data-volume used by the mantisbt container
mantisbt_db_dv_name: '{{ docker_name_prefix }}mantisbt_db_DV'

# restore directories to temporarly store data being restored into docker containers
mantisbt_docker_backup_dir: '{{ docker_backup_dir }}/MANTISBT'
mantisbt_docker_restore_dir: '{{ bacula_dest }}{{ mantisbt_docker_backup_dir }}'

# files restored from tape
mantisbt_static_backup_file: '/mantisbt.tar'
mantisbt_database_backup_file: '/mantisbtdb.sql'
mantisbt_database_files_table_backup_file: '/mantisbtdb-files_table.sql'
