---
# file: roles/docker-svn/tasks/restore.yaml

# *****************************************************************************
# Get data from tape

- name: find files
  files_in_dir:
    path: '{{ svn_docker_restore_dir }}'
  register: svn_repo_backup

- name: data from tape
  bacula:
    command: restore
    storage: '{{ bacula_storage }}'
    fileset: '{{ bacula_fileset }}'
    dest: '{{ bacula_dest }}'
    path_to_restore: '{{ svn_docker_backup_dir }}'
  when: svn_repo_backup.file_list == []

- name: find files
  files_in_dir:
    path: '{{ svn_docker_restore_dir }}'
  register: svn_repo_backup

- name: File permissions
  file:
    path: '{{ svn_docker_restore_dir }}/{{ item }}'
    state: touch
    owner: root
    group: root
    mode: 'u=rwx,g=rwx,o='
  with_items: '{{ svn_repo_backup.file_list | default([]) }}'

# *****************************************************************************
# restore the svn backup

- name: restore svn repositories
  command: 'docker run -ti --rm --volumes-from {{ svn_dv_name }} -v {{ svn_docker_restore_dir }}:/tmp/import_export {{ svn_image_name }}:{{ docker_image_tag }} import {{ svn_repos }}'
  when: not((svn_repos is undefined) or (svn_repos is none) or (svn_repos|trim == '')) or svn_repo_backup.file_list != []

# *****************************************************************************
# cleanup

- name: Remove files
  file:
    path: '{{ svn_docker_restore_dir }}'
    state: absent

- name: State file
  shell: 'date --rfc-3339=seconds > {{ docker_restore_config_base_dir }}/{{ svn_dv_name }}/restore.date.txt'
  when: st_svn_restore.stat.exists == False
