{% if exim4_docker_backup_dir is defined %}

# *****************************************************************************
# Backup EXIM data container
docker run --rm -v {{ docker_backup_dir }}:/tmp/import_export:z {{ exim4_image_name }}:{{ docker_image_tag }} bash -c "rm -rf /tmp/import_export/EXIM4"
mkdir -p -m u=rwx,g=rwx,o= {{ exim4_docker_backup_dir }}
docker run --rm \
    --volumes-from {{ exim4_dv_name }} \
    {{ exim4_image_name }}:{{ docker_image_tag }} backup > \
        {{ exim4_docker_backup_dir }}{{ exim4_backup_file }}
{% endif %}
