module docker_bacula 1.0;

require {
        type user_tmp_t;
        type svirt_lxc_net_t;
        type usr_t;
        type hugetlbfs_t;
        type bacula_tmp_t;
        type bacula_t;
        type docker_tmp_t;
        type tmp_t;
        class sock_file write;
        class dir { search setattr read create write rmdir remove_name add_name };
        class file { write execute setattr read create unlink open execute_no_trans };
}

#============= svirt_lxc_net_t ==============
allow svirt_lxc_net_t bacula_tmp_t:dir { write rmdir setattr read remove_name create add_name };
allow svirt_lxc_net_t bacula_tmp_t:file { write create unlink open setattr };
allow svirt_lxc_net_t hugetlbfs_t:file write;
allow svirt_lxc_net_t user_tmp_t:dir { write rmdir setattr remove_name create add_name };
allow svirt_lxc_net_t user_tmp_t:file { write create unlink open setattr };
allow svirt_lxc_net_t docker_tmp_t:dir { read rmdir };
allow svirt_lxc_net_t tmp_t:dir { write remove_name };
allow svirt_lxc_net_t usr_t:dir { write setattr };
