{% if backup_buildsystem_docker_dir is defined %}
{% if name_prefix is defined %}

#===============================================================================
# Clean up Build System backup directory
rm -rf {{ backup_buildsystem_docker_dir }}

#===============================================================================
# Backup Build System
mkdir -p -m u=rwx,g=rwx,o= {{ backup_buildsystem_docker_dir }}
docker run --rm -v {{ backup_buildsystem_docker_dir }}:/backup:z  --name Backup_Restore_BS_SS {{ name_prefix }}teststation_supportsite_backup_restore_image backup_buildsystem

{% endif %}
{% endif %}
