{% if svn_docker_backup_dir is defined %}

# *****************************************************************************
# Backup SVN repositories
docker run --rm -v {{ docker_backup_dir }}:/tmp/import_export:z {{ repository_images.debian.image }}:{{ repository_images.debian.tag }} bash -c "rm -rf /tmp/import_export/SVN"
mkdir -p -m u=rwx,g=rwx,o= {{ svn_docker_backup_dir }}
docker run --rm \
    --volumes-from {{ svn_dv_name }} \
    -v {{ svn_docker_backup_dir }}:/tmp/import_export:z \
    {{ svn_image_name }}:{{ docker_image_tag }} backup
{% endif %}
