# *****************************************************************************
# Variables used in the backup/restore scripts

{ # variables for MantisBT
  MANTISBT_CONTAINER_NAME='{{ mantisbt_container_name }}'
  MANTISBT_DB_CONTAINER_NAME='{{ mantisbt_db_container_name }}'
  MANTISBT_DV_NAME='{{ mantisbt_dv_name }}'
  MANTISBT_DB_DV_NAME='{{ mantisbt_db_dv_name }}'
  HOST_MANTISBT_RESTORE_DIR='{{ host_mantisbt_docker_restore_dir }}'
  HOST_MANTISBT_BACKUP_DIR='{{ mantisbt_docker_backup_dir }}'
  STATIC_BACKUP_FILE='{{ mantisbt_static_backup_file }}'
  DATABASE_BACKUP_FILE='{{ mantisbt_database_backup_file }}'
  DATABASE_FILES_TABLE_BACKUP_FILE='{{ mantisbt_database_files_table_backup_file }}'
  MANTISBT_DB_DB_NAME='bugtracker'
}
