# *****************************************************************************
# Variables used in the backup/restore scripts

{ # variables for MediaWIKI
  WIKI_CONTAINER_NAME='{{ wiki_container_name }}'
  WIKI_DB_CONTAINER_NAME='{{ wiki_db_container_name }}'
  WIKI_DV_NAME='{{ wiki_dv_name }}'
  WIKI_DB_DV_NAME='{{ wiki_db_dv_name }}'
  HOST_WIKI_RESTORE_DIR='{{ host_wiki_docker_restore_dir }}'
  HOST_WIKI_BACKUP_DIR='{{ wiki_docker_backup_dir }}'
  STATIC_BACKUP_FILE='{{ wiki_static_backup_file }}'
  DATABASE_BACKUP_FILE='{{ wiki_database_backup_file }}'
  WIKI_DB_DB_NAME='wikidb'
}
