module docker_log_rotate 1.0;

require {
        type svirt_sandbox_file_t;
        type system_mail_t;
        type logrotate_t;
        class dir { read create add_name write remove_name };
        class file { create unlink setattr read write open rename getattr };
}

#============= logrotate_t ==============
allow logrotate_t svirt_sandbox_file_t:dir { read write create remove_name add_name };
allow logrotate_t svirt_sandbox_file_t:file { create unlink setattr read write open rename getattr };

#============= system_mail_t ==============
allow system_mail_t svirt_sandbox_file_t:file { read getattr };
