{% if docker_backup_dir is defined %}
{% if backup_buildsystem_docker_dir is defined %}
{% if name_prefix is defined %}

#===============================================================================
# Clean up Build System backup directory
docker run --rm
    -v {{ docker_backup_dir }}:/clean:z \
    --name Backup_Restore_BS_SS \
    {{ name_prefix }}teststation_supportsite_backup_restore_image \
    cleanup_buildsystem

#===============================================================================
# Backup Build System
mkdir -p -m u=rwx,g=rwx,o= {{ backup_buildsystem_docker_dir }}
docker run --rm \
    -v {{ backup_buildsystem_docker_dir }}:/backup:z \
    --volumes-from={{ name_prefix }}TestStation_http_data_testclient \
    --volumes-from={{ name_prefix }}TestStation_tftp_data \
    --link={{ name_prefix }}TestStation_database_server:test_station_mysql_server \
    --name Backup_Restore_BS_SS \
    {{ name_prefix }}teststation_supportsite_backup_restore_image \
    backup_buildsystem

{% endif %}
{% endif %}
{% endif %}
