{% if docker_backup_dir is defined %}
{% if backup_supportsite_docker_dir is defined %}
{% if name_prefix is defined %}

#===============================================================================
# Clean up Support Site backup directory
docker run --rm \
    -v {{ docker_backup_dir }}:/clean:z \
    --name Backup_Restore_BS_SS \
    {{ name_prefix }}teststation_supportsite_backup_restore_image \
    cleanup_supportsite

#===============================================================================
# Backup Support Site
mkdir -p -m u=rwx,g=rwx,o= {{ backup_supportsite_docker_dir }}
docker run --rm \
    -v {{ backup_supportsite_docker_dir }}:/backup:z \
    --name Backup_Restore_BS_SS \
    {{ name_prefix }}teststation_supportsite_backup_restore_image \
    backup_supportsite

{% endif %}
{% endif %}
{% endif %}
