# *****************************************************************************
# Variables used in the backup/restore/import scripts

DOCKER_IMAGE_TAG='{{ docker_image_tag }}'

{ # variables for gitLab
  GITLAB_IMAGE_NAME='{{ gitlab_image_name }}'
  GITLAB_DV_IMAGE_NAME='{{ gitlab_dv_image_name }}'
  GITLAB_CONTAINER_NAME='{{ gitlab_container_name }}'
  GITLAB_DB_CONTAINER_NAME='{{ gitlab_db_container_name }}'
  GITLAB_REDIS_CONTAINER_NAME='{{ gitlab_redis_container_name }}'
  GITLAB_DV_NAME='{{ gitlab_dv_name }}'
  HOST_GITLAB_RESTORE_DIR='{{ host_gitlab_docker_restore_dir }}'
  HOST_GITLAB_BACKUP_DIR='{{ gitlab_docker_backup_dir }}'

  # this file should be only readable by root since username and password exist in the file in plain text
  GITLAB_DB_USER='{{ gitlab_db_user }}'
  GITLAB_DB_PASSWORD='{{ gitlab_db_password }}'
}
